$admin: "#ff006e";
$admin-invert: "white";
$custom-colors: ("admin": ($admin, $admin-invert));

$user: "#2e51a2";
$user-invert: "white";
$custom-colors: ("admin": ($user, $user-invert));

//npm run css-build