/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  margin: 0;
  background-color: #edf1f5;
  font-family: 'Roboto', sans-serif;
  color: #3c6285;
}

.centered-content {
  width: 70%;
  margin: auto;
}